@mixin responsive() {
  padding: 23% 0;

  @media screen and (min-width: 1440px) {
    margin: 0 15%;
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    .card {
      width: 100%;
      padding: 6.2rem;
      &:first-child {
        border-radius: 1rem 0 0 1rem;
      }
      &:last-child {
        border-radius: 0 1rem 1rem 0;
      }

      &__btn {
        margin-top: 8.5rem;
      }
    }
  }
}
